<div class="page" *ngIf="!authorized">
  <google-signin></google-signin>
</div>

<div class="page" *ngIf="authorized">
  <app-map></app-map>

  <div class="buttons">
    <button class="avatar-button" mat-fab color="primary" [matTooltipPosition]="'left'" matTooltip="{{ profile?.getName() }}">
      <img class="avatar" src="{{ profile?.getImageUrl() }}" />
    </button>
    <button mat-fab color="primary" [matTooltipPosition]="'left'" matTooltip="Click to show devices" (click)="openDevicesSheet()">
      <mat-icon>bike_scooter</mat-icon>
    </button>
    <button mat-fab color="primary" [matTooltipPosition]="'left'" matTooltip="Click to upload new ride" (click)="openUploadSheet()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <button mat-fab color="primary" [matTooltipPosition]="'left'" matTooltip="Click to select ride to show" (click)="openBottomSheet()">
      <mat-icon>menu_open</mat-icon>
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
