<div class="page" *ngIf="!authorized">
  <google-signin></google-signin>
</div>

<div class="page" *ngIf="authorized">
  <div id="map" class="map"></div>

  <div class="navigator">
    <div class="nav-top">
      <img class="nav-avatar" src="{{ profile?.getImageUrl() }}" />
      <div class="nav-username">{{ profile?.getName() }}</div>
    </div>
    <div class="title">
      Load your GPX file
    </div>
    <input type="file" (change)="onFileLoaded($event)" />

    <div class="title">
      Upload your GPX file
    </div>
    <input type="file" (change)="filesToUploadChanged($event)" />
    <button (click)="upload()">Upload</button>

    <div *ngFor="let ride of rides" class="ride" (click)="loadRide(ride._id)">
      {{ ride.name }}
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
