<mat-nav-list>
  <mat-spinner *ngIf="!devices"></mat-spinner>
  <div mat-line>
    <div mat-subheader>Devices</div>
  </div>
  <div mat-line>
    <mat-form-field *ngIf="showNameField">
      <mat-label>Device name</mat-label>
      <input matInput placeholder="Name" [(ngModel)]="name" />
    </mat-form-field>
    <button mat-icon-button color="warn" (click)="showNameField ? add(name) : (showNameField = true)">
      <mat-icon *ngIf="!showNameField">add</mat-icon>
      <mat-icon *ngIf="showNameField">send</mat-icon>
    </button>
  </div>
  <mat-list-item *ngFor="let device of devices">
    <mat-icon mat-list-icon>bike_scooter</mat-icon>
    <div mat-line>
      {{ device.name }}
    </div>
    <div mat-line class="key">
      {{ device.key }}
    </div>
    <button mat-icon-button color="warn" (click)="delete(device._id)">
      <mat-icon>delete</mat-icon>
    </button>

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>
